.promptText {
    padding: 10px;
    background-color: #2d3552;
    color: #f6f6f6;
    width: fit-content;
    border-radius: 15px;
    max-width: 80%;
    position: relative;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
.responseText {
    background-color: #fff;
    color: #2d3552;
    padding: 10px;
    width: fit-content;
    overflow-wrap: break-word;
    border-radius: 15px;
    max-width: 80%;
    position: relative;
  }

.box {
    display: flex;
    flex-direction: row;
    border: none;
    /* height: fit-content; */
    height: 0;
    width: 100%;
    position: relative;
  }

.iconHeart {
    position: absolute;
    right: -10px;
    bottom: -20px;
    border: none;
    cursor: pointer;
    z-index: 10;
    color: #FF6961;
  }